<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url('/Image/BGR3.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .navbar {
            height:75px;
        }

        .navbar-brand {
            padding: 0;
            margin-right: 15px;
            font-size: 20px;
            font-weight: bold;
        }

        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
            align-items: center;
        }

        .nav-item a {
            margin-right: 15px;
            font-size: 18px;
            font-weight: bold;
            color: white;
        }

        .login-btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 15px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

            .login-btn:hover {
                background-color: #0056b3;
            }
        .dropdown-menu a {
            color: gray !important;
        }
        .dropdown:hover .nav-link {
            color: white !important;
        }
        .dropdown-menu {
            z-index: 100000;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <!-- Menu -->
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <img src="~/Image/Logo.png" alt="NU Cinema" style="height: 70px; width: 70px;">
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("LỊCH CHIẾU", "Lich", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("PHIM", "Phim", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("SỰ KIỆN", "SuKien", "Home", new { area = "" }, new { @class = "navbar-brand" })

                    </li>
                </ul>
            </div>
            @if (Session["user"] == null)
            {
                @Html.ActionLink("Đăng nhập", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                var user = (Cinema_Manage.Models.NguoiDung)Session["user"];
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @user.Username
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>@Html.ActionLink("Lịch sử giao dịch", "MyTickets", "MuaVe", new { area = "", maKH = user.UID }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Đăng xuất", "Logout", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                    </ul>
                </div>
            }
        </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
