@model PagedList.IPagedList<Cinema_Manage.Models.Ghe>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách ghế</h2>


<table class="table">
    <tr>
        <th>
            Mã Ghế
        </th>
        <th>
            Phòng Chiếu
        </th>
        <th>
            Loại Ghế
        </th>
        <th>
            Số Ghế
        </th>
        <th>
            Giá Ghế
        </th>
        <th>
            Tinh trạng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaGhe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongChieu.TenPhong)
            </td>

            @if (item.LoaiGhe.Trim() == "1")
            {
                <td>Ghế thường</td>
            }
            else
            {
                <td>VIP</td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.SoGhe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaGhe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaGhe.Trim() }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaGhe.Trim() })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<br />
Trang @(Model.PageCount<Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))