@model Cinema_Manage.Models.SuKien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuKien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSuKien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
